
#QT User
!*.user

### VisualStudioCode ###
# exclude everything
**/.vscode

# Compilation files
**/log
**/build
**/install

# Python imported classes
**/__pycache__

### VisualStudioCode Patch ###
# Ignore all local history of files
**/.history

# Jupyter
# Notebooks/.ipynb_checkpoints
# src/me00_bringup/launch/__pycache__/launch_class.cpython-38.pyc

# Latex Compilation
# /manual/out/*
# !/manual/out/main.pdf