<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="me00">

  <!-- =================================================================================== -->
  <!-- |    ARGUMENTS                                                                    | -->
  <!-- =================================================================================== -->
  <xacro:arg name="model" default=""/>
  <xacro:arg name="namespace" default=""/>
  <xacro:property name="model" value="$(arg model)"/>
  <xacro:property name="namespace" value="$(arg namespace)"/>
  <xacro:property name="node_name" value="${model}_description"/>
  <xacro:property name="mesh_scale" value="0.001"/>
  <!-- =================================================================================== -->
  <!-- |    TOPICS                                                                       | -->
  <!-- =================================================================================== -->
  <xacro:property name="odom_topic" value="Wheelmotor/odom"/>
  <xacro:property name="cmd_vel_topic" value="Control/cmd_vel"/>
  <xacro:property name="scan1_topic" value="LaserScan_Front/laser_scan"/>
  <xacro:property name="scan2_topic" value="LaserScan_Back/laser_scan"/>
  <xacro:property name="joint_state_topic" value="Description/joint_states"/>
  <xacro:property name="camera_topic" value="image_raw"/>

  <!-- =================================================================================== -->
  <!-- |    START                                                                        | -->
  <!-- =================================================================================== -->
  <!-- =================================================================================== -->
  <!-- |    PATH MESHES                                                                  | -->
  <!-- =================================================================================== -->
  <xacro:property name="chassis_mesh" value="package://${node_name}/mesh/base.stl"/>
  <xacro:property name="wheel_left_mesh" value="package://${node_name}/mesh/wheel.stl"/>
  <xacro:property name="wheel_right_mesh" value="package://${node_name}/mesh/wheel.stl"/>
  <xacro:property name="caster_wheel_front_mesh" value="package://${node_name}/mesh/caster_wheel.stl"/>
  <xacro:property name="caster_wheel_back_mesh" value="package://${node_name}/mesh/caster_wheel.stl"/>
  <xacro:property name="caster_base_front_mesh" value="package://${node_name}/mesh/caster_base_front.stl"/>
  <xacro:property name="caster_base_back_mesh" value="package://${node_name}/mesh/caster_base_back.stl"/>
  <xacro:property name="caster_sphere_wheel_mesh" value="package://${node_name}/mesh/caster_sphere_scaled.stl"/>
  <xacro:property name="caster_base_mesh" value="package://${node_name}/mesh/caster_base_test.stl"/>
  <xacro:property name="laser_front_mesh" value="package://${node_name}/mesh/laser.stl"/>
  <xacro:property name="laser_back_mesh" value="package://${node_name}/mesh/laser.stl"/>
  <!-- =================================================================================== -->
  <!-- |    COMPONENTES                                                                  | -->
  <!-- =================================================================================== -->
  <xacro:include filename="$(find ageve_utils)/models/general/colours.xacro"/>
  <xacro:include filename="$(find ageve_utils)/models/general/inertias.xacro"/>
  <xacro:include filename="$(find ${node_name})/urdf/include/kinematics.xacro"/>
  <xacro:include filename="$(find ${node_name})/urdf/include/caster_wheel.xacro"/>
  <xacro:include filename="$(find ${node_name})/urdf/include/links.xacro"/>
  <xacro:include filename="$(find ${node_name})/urdf/include/gazebo.xacro"/>
  
</robot>
