<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="wheel">

 <!--MACROS -->
 <xacro:macro name="wheel" params="side position"> 
  <link name="${side}_${position}_wheel">
    <visual>
      <geometry>
        <cylinder length="${wheel_width}" radius="${wheel_radius}"/>
        <!-- <sphere radius="${wheel_radius}"/> -->
      </geometry>
      <origin rpy="${pi/2} 0 0" xyz="0 0 0"/>
      <material name="black"/>
    </visual>
    <collision>
      <origin rpy="${pi/2} 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="${wheel_width}" radius="${wheel_radius}"/>
        <!-- <sphere radius="${wheel_radius}"/> -->
      </geometry>
    </collision>  
   </link>
 </xacro:macro>

</robot>